{
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": "off",
    "no-use-before-define": ["error", "nofunc"],
    "no-console": "off",
    "no-void": "off",
    "max-len": ["error", 150],
    "no-continue": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "prefer-template": "off"
  }
}
